@model PruebaTecnica1.Models.Producto

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar registro</h1>
<br /><br />
<h3>Desea eliminar el registro?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precioventa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precioventa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
    <br /><br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <br /><br />
        <a asp-action="Index">Regresar</a>
    </form>
</div>
